exports.keys = (function() {
    var keys = {};

    if(ENV_DEV) {
        keys.backend = {
            url: '',
            client_id: '',
            client_secret:''
        };

        keys.cloudinary = {
            cloud_name: '',
            api_key: '',
            api_secret: ''
        };

    } else if (ENV_TEST) {
        keys.backend = {
            url: '',
            client_id: '',
            client_secret:''
        };

        keys.cloudinary = {
            cloud_name: '',
            api_key: '',
            api_secret: ''
        };

    } else if (ENV_PRODUCTION) {
        keys.backend = {
            url: '',
            client_id: '',
            client_secret:''
        };

        keys.cloudinary = {
            cloud_name: '',
            api_key: '',
            api_secret: ''
        };
    }

    return keys;
})();
